VITE_BASE_PATH=/
VITE_FIREBASE_API_KEY=AIzaSyCo5xbrv9DAvFVjhhDVfdJJGblh3FKnBDc
VITE_FIREBASE_AUTH_DOMAIN=epitrack-88565.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=epitrack-88565
VITE_FIREBASE_STORAGE_BUCKET=epitrack-88565.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=241244966255
VITE_FIREBASE_APP_ID=1:241244966255:web:d0040c859c9a1690f22c9a
